
<body>
    <main>
        <br>
        <section class="min-vh-100 d-flex flex-column align-items-center">
            <div class="container">
                <div class="row">
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                  <a 
                                    class="nav-link" 
                                    [ngClass]="{ 'active': active_tab === 'poslato' }"
                                    (click)="set_active_tab('poslato')"
                                    >Poslato</a
                                  >
                                </li>
                                <li class="nav-item">
                                  <a 
                                    class="nav-link" 
                                    [ngClass]="{ 'active': active_tab === 'odbijeno' }"
                                    (click)="set_active_tab('odbijeno')"
                                    >Odbijeno</a
                                  >
                                </li>
                                <li class="nav-item">
                                    <a 
                                      class="nav-link" 
                                      [ngClass]="{ 'active': active_tab === 'odobreno' }"
                                      (click)="set_active_tab('odobreno')"
                                      >Prihvaćeno</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a 
                                      class="nav-link" 
                                      [ngClass]="{ 'active': active_tab === 'zavrseno' }"
                                      (click)="set_active_tab('zavrseno')"
                                      >Završeno</a
                                    >
                                </li>
                              </ul>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <section class="section section-lg pt-0">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card shadow-soft border-light p-4">
                                                <div class="text-center pb-0">
                                                    <h2 class="mb-0 h5">Porudžbine</h2>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Korisnik</th>
                                                                    <th class="d-none d-lg-table-cell">Kreirana</th>
                                                                    <th>Vrednost</th>
                                                                    <th>Više</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody *ngFor="let s of orders">
                                                                <tr *ngIf="s.status == active_tab">
                                                                    <td>{{modify_id(s._id)}}</td>
                                                                    <td class="d-none d-md-table-cell">{{s.username}}</td>
                                                                    <td class="d-none d-lg-table-cell">{{getDay(s.created_at)}}.{{getMonth(s.created_at)}}.{{getYear(s.created_at)}}</td>
                                                                    <td>{{s.price}} RSD</td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-danger" (click)="show_more(s)">
                                                                            &#43; <!-- Unicode for plus sign -->
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr *ngIf="s.show_details">
                                                                    <td colspan="5">
                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <h5>Detalji porudžbine</h5>
                                                                                <p><strong>ID:</strong> {{s._id}}</p>
                                                                                <p><strong>Korisnik:</strong> {{s.username}}</p>
                                                                                <p><strong>Kreirana:</strong> {{getDay(s.created_at)}}.{{getMonth(s.created_at)}}.{{getYear(s.created_at)}}</p>
                                                                                <p><strong>Vrednost:</strong> {{s.price}} RSD</p>
                                                                                <p><strong>Status:</strong> {{s.status}}</p>
                                                                                <p><strong>Za spremanje:</strong></p>
                                                                                <table class="table">
                                                                                    <tbody *ngFor="let c of s.content">
                                                                                        <div class="card-body d-flex">
                                                                                            <div class="col-md-2">
                                                                                                <img class="img-fluid w-100" [src]="'assets/sweets_pics/' + c.product.picture" alt="Card image cap">
                                                                                            </div>
                                                                                            <div class="col-md-1"></div>
                                                                                            <div class="col-md-4 text-start">
                                                                                                <h3 class="card-title">{{c.product.name}}</h3>
                                                                                                <hr>
                                                                                                <h3 class="card-title">Količina: {{c.amount}}</h3>
                                                                                            </div>
                                                                                        </div>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
    </main>
</body>
