<body>
    <main>
        <!-- Hero -->
        <div class="section section-header pb-7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h1 class="display-2 mb-4">The sweet spot</h1>
                    </div>
                </div>
            </div>        
        </div>
        <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <div class="card shadow-soft border-light organic-radius p-3">
                            <img class="organic-radius img-fluid" src="../../../assets/home_picture/slika1.webp" alt="modern desk">
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <p>Naše poslastice prodaju, pre svega, kvalitet, a potom i izuzetno pristupačna cena.</p>
                        <img src="../../../assets/home_picture/logo.jpg" alt="signature" class="mt-4" width="150">
                        <p>Nastojimo našim kupcima ponuditi najbolji odnos ukusa i cene, što je vodeća filozofija poslastičarnice <strong>The sweet spot</strong>. 
                            Više od nekoliko decenija, uz pomoć tradicionalnih recepata i pažljivo biranih sastojaka, gradimo poverenje naših gostiju stvarajući slatke 
                            delicije koje uveseljavaju celu porodicu.</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="min-vh-100 d-flex flex-column align-items-center" *ngIf="user_type == 'customer'">
            <h2 style="text-align: center;">IZDVAJAMO</h2>
            <div class="container">
                <div class="row" *ngFor="let row of getRows(paged_items)">
                    <div class="col-md-4" *ngFor="let item of row">
                        <div class="card mb-4">
                            <div class="card-body">
                                <img class="card-img-top" [src]="'assets/sweets_pics/' + item.picture" alt="Card image cap">
                                <div class="card-body text-center">
                                    <p class="card-text card-title">{{item.name}}</p>
                                </div>
                                <button class="btn" style="background-color: #e3f2fd;" (click)="more(item)">
                                    Više
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-container mt-4">
                <app-pagination [total_items]="products.length" [items_per_page]="items_per_page" [current_page]="current_page" (page_changed)="on_page_changed($event)"></app-pagination>
            </div>
        </section>
        <br>
    </main>



</body>