<body>
    <main>
        <!-- Hero -->
        <div class="section section-header pb-7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h1 class="display-2 mb-4">Slatki zalogaji</h1>
                    </div>
                </div>
            </div>        
        </div>
        <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <div class="card shadow-soft border-light organic-radius p-3">
                            <img class="organic-radius img-fluid" src="../../../assets/home_picture/slika1.webp" alt="modern desk">
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h2 class="h1 mb-4">Nešto o nama</h2>
                        <!--<img src="../../assets/img/signature.svg" alt="signature" class="mt-4" width="150">-->
                    </div>
                </div>
            </div>
        </section>
    </main>



</body>