.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    flex-grow: 1; /* Allow the description to grow and take up space */
}