<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                        <br>
                        <div class="card bg-secondary shadow-soft border-light p-4">
                            <div class="text-center pb-0">
                                <h2 class="mb-0 h5">Profil</h2>                               
                            </div>
                            <div class="card-body text-center">
                                <div class="form-group">
                                    <div class="form-group" *ngIf="fetched == true">
                                        <img [src]="'assets/profile_pics/' + k.profile_pic" alt="Image Description" class="profile-pic">
                                    </div>
                                      
                                    <br>
                                    <div class="form-group">
                                        <p>Korisničko ime: {{k.username}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p>Mejl: {{k.mail}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p>Ime: {{k.name}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p>Prezime: {{k.surname}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p>Adresa: {{k.address}}</p>
                                    </div>
                                    <div class="form-group">
                                        <p>Kontakt: {{k.contact}}</p>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-block btn-info" (click)="update_data()">
                                        Ažuriraj
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>