
<nav class="navbar navbar-expand-lg static-top" style="background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand" href="">
        <!--ovde ide interpolacija za sliku-->
        <img src="../../../../assets/home_picture/logo.jpg" alt="..." height="36">The sweet spot
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notifikacije
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let notification of notifications">
                <a class="dropdown-item" 
                [ngClass]="{'seen': notification.seen, 'unseen': !notification.seen}"
                (click)="change_seen(notification, $event)">{{notification.notification}}</a>
                <hr>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goto_profil()">Profil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Poslastice
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="goto_sweets('cake')">Torte</a></li>
              <li><a class="dropdown-item" (click)="goto_sweets('cookie')">Kolači</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goto_cart()">Korpa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goto_orders()">Narudzbine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goto_change()">Promeni lozinku</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>