<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                        <br>
                        <div class="card shadow-soft p-4" style="background-color: #e3f2fd;">
                            <div class="text-center  pb-0">
                                <h2 class="mb-0 h5">Dodaj proizvod</h2>                               
                            </div>
                            <div class="card-body text-center">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="naziv">Naziv</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="naziv" [(ngModel)]="name" type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="opis">Opis</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="opis" [(ngModel)]="description" type="text" aria-label="email adress" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sastav">Sastav</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="sastav" [(ngModel)]="content" type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cena">Cena</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="cena" [(ngModel)]="price" type="number" aria-label="email adress">
                                        </div>
                                    </div>
                                    <p class="form-check-inline">Tip: </p>
                                    <div class="form-check-inline mr-3">
                                        <input type="radio" name="pol" value="cake" [(ngModel)]="type"> 
                                        <label class="form-check-label">
                                                Torta   
                                        </label>
                                    </div>
                                    <div class="form-check-inline mr-3">
                                        <input type="radio" name="pol" value="cookie" [(ngModel)]="type">
                                        <label class="form-check-label">
                                                Kolač
                                        </label>
                                    </div>
                                    <div class="form-check-inline mr-3">
                                        <input type="radio" name="pol" value="sale" [(ngModel)]="type"> 
                                        <label class="form-check-label">
                                                Akcija   
                                        </label>
                                    </div>
                                    <br>
                                    <p class="form-check-inline">Slika: </p>
                                    <div class="form-check-inline mr-3">
                                        <input type="file" (change)="onFileSelected($event)" #fileInput>
                                    </div>
                                    <br>
                                    <div class="alert alert-info" role="alert" *ngIf="message != ''">
                                        {{message}}
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td class="text-center">   
                                            <button (click)="dodaj()" class="btn btn-block btn-info">Dodaj</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br>
</body>