
<div class="container-fluid text-secondary p-5" style="background-color: #e3f2fd;">
    <div class="row g-5">
        <div class="col-lg-2 "></div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex flex-column justify-content-start">
                <a class="text-secondary mb-2" href="home.html"><i
                        class="bi bi-arrow-right bojastrelice me-2"></i>Home</a>
                <a class="text-secondary mb-2" href="about.html"><i
                        class="bi bi-arrow-right bojastrelice me-2"></i>O nama</a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <p class="mb-2"><i class="bi bi-geo-alt bojastrelice me-2"></i>Bulevar kralja Aleksandra 73, Beograd</p>
            <p class="mb-2"><i class="bi bi-envelope-open bojastrelice me-2"></i>andrejadjokic79@gmail.com</p>
            <p class="mb-0"><i class="bi bi-telephone bojastrelice me-2"></i>++381659529109</p>
        </div>
</div>
<br>
<div class="container-fluid text-secondary text-center border-top"
    style="background-color: #e3f2fd !important;">
    <p class="m-0">&copy; <a class="text-secondary" href="#">Slatki zalogaji</a>. All Rights Reserved.
        Designed by <a class="text-secondary"
            href="https://github.com/da200274/marijaSh/">da200274</a></p>
</div>